## Informacion de la Base de Datos
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=

## Informacion de Correos
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

## Informacion Server
BACKEND_URL=
PORT=3000
JWT_SECRET=